body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.game-container {
  width: minmax();
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  max-width: 500px;
  width: 80%;
  margin: 0 auto;
}

.game-title {
  font-size: 2.5rem;
  text-transform: uppercase;
}
.game-title::first-letter {
  text-transform: capitalize;
}

.end-game-button,
.reset-score-button,
.auto-play-btn {
  padding: 5px 10px;
  border-radius: 5px;
  width: 120px;
  padding: 10px 15px; align-self: center;
  font-size: 15px;
}

.move-icon {
  width: 50px;
  padding: 30px;
}

.move-button {
  background-color: rgb(25, 25, 25);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  transition:
    opacity .3s;
}

.end-game-button {
  color: white;
  background-color: rgb(17, 17, 17);
  margin-bottom: 100px;
}

button {
  cursor: pointer;
  transition: opacity .5s;
}
button:hover {
  opacity: .2;
}
button:active {
  opacity: .6;
}

.moves-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.current-move-icon {
  width: 50px;
  margin: 15px;
}

.js-result {
  text-align: center; margin: 50px;
}